body {
  margin: 0 auto;
}

html, body {
  height: 100%;
  font-family: 'Crete Round', serif;
  font-size: 150%;
  overflow: hidden;
}

.expandBtn {
  width: 50%;
  height: 30%;
  border: none;
  background: rgb(128, 128, 255);
}

.addBtn, .abortBtn {
  width: 100%;
  height: 50%;
  border: none;
}

#newBtn, #changeBtn, #new-to-do-btn {
  width: 10%;
  height: auto;
  border: none;
}

.delBtn:hover, .expandBtn:hover, .abortBtn:hover, .addBtn:hover, #newBtn:hover, #changeBtn:hover, #new-to-do-btn:hover {
  background-color: rgb(255, 255, 165);
  cursor: pointer;
}

.delBtn {
  width: 19em;
  height: 2.45em;
  border: none;
  background: rgb(128, 128, 255);
}

#new-to-do-btn {
  width: 40%;
  height: 10%;
  margin: 5%;
}

#wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#header {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  height: 5%;
  background-color: rgb(128, 128, 255);
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.textarea-wrapper {
  border: 1px solid rgba(76, 76, 76, 0.33);
  height: 100%;
}

textarea {
  height: 90%;
  border: none;
  resize: none;
  width: 90%;
  margin: 5%;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  width: 30%;
  text-align: center;
}

.main-content {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(76, 76, 76, .33);
  margin: 1px 0 1px 0;
  overflow: scroll;
}
