.modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.taskModal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fefefe;
  margin: 15% auto;
  border: 1px solid #888;
  width: 30%;
  height: 30%;
}
