.dropDown-content{
  display:none;
  position:absolute;
  background: #f1f1f1;
  min-width: 16rem;
  height: 5rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
  z-index: 1;
}
.dropDown-content a{
  text-decoration: none;
  display: flex;
  width: 90%;
}
.showDropDown{
  display:flex;
  justify-content: center;
  flex-direction: column;
  height: auto;
}
.dropBtn{
  width: 100% !important;
  height: 100% !important;
  display: flex !important;
}
.list-item{
  display: flex;
  flex-direction: row;
}
.minus-background{
  background: none;
  border:none;
}
button:disabled{
  color:rgb(76, 76, 76);
}
.newProjectBtn,
.createProjectBtn,
.closeCreationBtn{
  width: 100%;
  height: 4em;
  border: none;
  background-color: rgb(128,128,255);
  font-weight: 900;
}
.newProjectBtn:hover,
.createProjectBtn:hover,
.closeCreationBtn:hover{
  cursor: pointer;
}
.projectColor{
  background-color: rgb(255,255,165);
  color:;
}
